<html>
<head>
	<title></title>
	<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div class="hero">
		<h1>Fullstack Force Wiki</h1>

		<h2>Welcome <%= data.author %>!</h2>
</div>
	<div class="category-container">
		<h3>Post Categories</h3>
		<select id="dataset-select" onChange="window.location.href=this.value">
			<option value="no_id" />Choose Category</option>
			<option value="/users/<%=data._id%>/categories"/>Best Practices</option>
			<option value="/users/<%=data._id%>/categories"/>Regulatory</option>
			<option value="/users/<%=data._id%>/categories"/>Enhancements</option>
			<input type="hidden" name="categories" value="Norway">
		</select>
	</div>

	<br/>
	<br/>
	
	<div class="navigation-container">
		<a href="/posts/<%=data._id%>/new"><button>Create Post</button></a>
		<a href="/users/<%=data._id%>"><button>View your posts</button></a>
		<button>Log Out</button>
	</div>
	
</body>
</html>