<html>
<head>
	<title></title>
	<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/post.css">
</head>
<body>
	<header class='banner'>
		<h3>Fullstack Force Wiki</h3>
	</header>

	<div class="header-container">
		<h1>Edit Post</h1>
	</div>
	<h3>Original Post:</h3>
	<div class="preview-container">
		<h4 class="preview-title"><%=article.title%></h4>
		<section class="preview-section"><%=article.body%></section>
	</div>

	<div class="form-container">
		<form method="POST" action="/posts/<%=data._id%>/edit/<%=article._id%>?_method=PUT" >
			<label for="title">Enter a title:</label>
			<input id="title-bar" type="text" name="title" value="<%=article.title%>"><br/>		
			<textarea name="body" value="body" placeholder="<%=data.articles.body%>" rows=30 cols=100></textarea><br/>
			<h4 id="category-title">Select a Category</h4>
			<div class="categories">
				<input type="checkbox" name="categories" value="Best-Practices">Best Practices
				<input type="checkbox" name="categories" value="Regulatory">Regulatory
				<input type="checkbox" name="categories" value="Enhancements">Enhancements
			</div>

			<br/>
			<input type="hidden" name="origAuthor" value="<%=data.author%>"><br/>
			<input type="hidden" name="editAuthor" value="<%=data.author%>"><br/>
			<input type="submit" value="Submit Post">
		</form>
	</div>

</body>
</html>