<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/show.css">
</head>
<body>
	<header class='banner'>
		<h3>Fullstack Force Wiki</h3>
	</header>

	<h1><%=article.title%></h1>

		<section class="article-info">original author: <%=article.origAuthor%></section>
		<section class="article-info">created on: <%=article.createdAt%></section><br/>
		<% if(article.editAuthor !== " ") { %>
			<section class="article-info">last edit by: <%=article.editAuthor%></section>
			<section class="article-info">last edited: <%=article.updatedAt%></section>
		<% } %> 
		<section class="article-info">Categories: 
		<% for(var i = 0; i < article.categories.length; i++) { %>
			<li class="article-info"><%=article.categories[i]%></li>
		<% } %>
		</section><br/>

			<section class="article-section"><%=article.body%></section>
			<a href="/posts/<%=data._id%>/edit/<%=article._id%>"><button>Edit this post</button></a>
	
	<a href="/users/<%=data._id%>"><button>Back to your Posts</button></a>
	<a href="/users/<%=data._id%>/main"><button>Main Page</button></a>
	
</body>
</html>